
       *   {

                          margin: 0;

                          padding: 0;

                          font-family: "Glyphicons Halflings", "Microsoft YaHei";

                          font-size: 14px;

                          box-sizing: border-box;

                      }

a,a:hover,label,input[type="checkbox"]{

    cursor: pointer;

}

.clearfix:after{

    content: '';

    height: 0;

    display: block;

    visibility: hidden;

    clear: both;

}

.clearfix{

    zoom: 1;

}

a{

    text-decoration: none;

}



button:hover{
    background: #1c7ecf;
    cursor: pointer;
}

.graybox{

    width: 100%;

    height: 100%;

    background: rgba(0,0,0,.6);

    position: fixed;

    top:0;

    left: 0;

    z-index: 9;

}

.popbox{

    width: 600px;

    padding-bottom: 30px;

    border-radius: 6px;

    background: #FFFFff;

    position: absolute;

    left: 50%;

    margin-left: -250px;

    top:26%;

    z-index: 150;

}

.poptop{

    width: 100%;

    height: 120px;

    line-height: 120px;

    text-align: center;

    border-bottom: 1px solid #F2F2F2;

    position: relative;

}

.poptop h3{

    font-size:32px;

    font-weight: 600;

    color:#749dcf;

}

.poptop a.close{

    position: absolute;

    right:0;

    top:0;

    font-size: 20px;

    font-weight: bold;

    width: 36px;

    height: 36px;

    background:center no-repeat;

}

.popcon{

    padding: 20px 50px;

}

.popcon .group{

    position: relative;

}

.popcon .group  input[type="text"]{

    color: #999999;

}

.popcon .group i{

    position: absolute;

    left: 12px;

    top:28px;

    font-size: 20px;

    color: #bbbbbb;

}

.popcon input[type="text"]{

    width:100%;

    height: 36px;

    line-height: 36px;

    border-radius:26px;

    margin-top:20px;

    padding:0 10px 0 40px;

    border:none;

    background: #f0f0f0;

}

.popcon input:focus{

    outline: none;

    background: #DDDDDD;

}

/*点击输入框之后图标颜色改变*/

.popcon .group input:focus+i{

    color:#749dcf;

}

.popcon .remember{

    font-size: 12px;

    margin-top: 15px;

    color:#749dcf;

}

.popcon .remember .remember-con{

    width:50%;

    display: block;

    float: left;

}

.popcon input[type="checkbox"]{

    vertical-align: -1px;

    margin-right: -2px;

}

/*自定义checked样式*/

.popcon .remember .inputbox{

    -moz-appearance: none;

    -webkit-appearance:none;

    width: 12px;

    height: 12px;

    border-radius: 2px;

    border: 1px solid #749dcf;

    background: #FFFFff;

}

/*自定义checked选中之后的样式*/

.popcon .remember .inputbox:checked{

    border: 1px solid #749dcf;

    background:#FFFFff url("../img/close-circle.png") center no-repeat;

    cursor: pointer;

}

.popcon .remember .code{

    display: block;

    float: right;

    font-size: 14px;

    color: #749dcf;

}

.popcon .remember .code:hover{

    text-decoration: underline;

    color: #749dcf;

}

.popcon .remember .fa-question-circle{

    color: #749dcf;

    margin-right:3px;

}

.divbtn{

    width: 600px;
    margin:-20px auto ;

}

.divbtn .btn{

    display: block;

    float: left;

    width:120px;

    height: 36px;

    line-height: 36px;

    text-align: center;

    border-radius:6px;

    background: #eeeeee;

    color: #464646;

}

.divbtn .btn:hover{

    background: #DDDDDD;

}

.divbtn .ok{

    background:#749dcf;

    margin-left: 20px;

    color: #FFFFff;

}

.divbtn .ok:hover{

    background: #749dcf;

}




#quyu{
    margin-left: 20%;
    height: 35px;
}
/*#second{*/
/*    height: 20px;*/
/*    background-image: url("../img/eng.png");*/
/*}*/

.not-arrow{
    padding: 5px 10px;
    border:1px solid #dcd8d8;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none; /*去掉下拉箭头*/
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.not-arrow::-ms-expand { display: none; }



.screen{
    width:800px;
    /*margin-left: 3px;*/
    /*margin-top: 3px;*/
    height:250px;
    overflow:hidden;

    position:relative;

}

.screen li{ width:800px; height:250px; overflow: visible; float:left;}

.screen ul{ position:absolute; left:0; top:0px; width:3000px;}

.al ol{ position:absolute; right:10px; bottom:10px; line-height:20px; text-align:center;}

.al ol li{ float:left; width:20px; height:20px; background:#fff; border:1px solid #ccc; margin-left:10px; cursor:pointer;}

.al ol li.current{ background:yellow;}





/*#arr {display: none;}*/






